{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} | EMİNAPP</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style_css %} {% endblock %}
</head>
<body>
    {% include 'partials/_navbar.html' %}
    
    {% block content %}{% endblock %}

    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block script_js %} {% endblock %}
</body>
</html>